:root {
    --fontTittle: "Pt Sans", sans-serif;
    --fontText: "Open Sans", sans-serif;

    /* ColorPalete */
    --ColorLog: #FEA406;
    --bgPrincipal: #F0ECE5;
    --textColor: #FFFFFF;
    --bgNavBar: #161A30;
    --bgBox: #31304D;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 10px;
    font-size: 1.6rem;
    font-family: var(--fontText);
}

/* Utildades */
img {
    max-width: 100%;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fontTittle);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2.2rem;
}
a{
    text-decoration: none;
    color: var(--textColor);
}
ul{
    list-style: none;
}
/* Navigation */
header {
    background:var(--bgNavBar);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    color: var(--textColor);
    font-size: 30px;
    text-transform: uppercase;
}
.bg__logo{
    color: var(--ColorLog);
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}


.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #ffffff;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: var(--bgNavBar);
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}
/* end navigation */
/* initial main */

  
  .carousel-container {
    width: 80%;
    margin: 10px auto ;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);
  
    .carousel {
      aspect-ratio: 16/9;
      width: 100%;
      position: relative;
      overflow: hidden;
  
      .item {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: opacity 0.5s ease-in-out;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
  
        .caption {
            color: var(--textColor);
          width: 100%;
          padding: var(--lx-space-01);
          position: absolute;
          bottom: 0;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          background-color: rgba(0, 0, 0, 0.5);
        }
  
        &.active {
          opacity: 1;
          display: block;
        }
      }
    }
  
    .btn {
      padding: 1rem 2rem;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      outline: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      color: var(--textColor);
      background-color: var(--bgBox);
      transition: transform 0.2s ease-in-out;
  
      &:active,
      &:focus {
        transform: translateY(-50%) scale(0.9);
      }
  
      &:hover {
        transform: translateY(-50%) scale(0.96);
      }
    }
  
    .prev {
      left: -5%;
    }
  
    .next {
      right: -5%;
    }
  
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        background-color: #242421;
        transition: background-color 0.2s ease;
  
        &.active,
        &:hover {
          background-color: #ffffe6;
        }
      }
    }
  }
  


/* end main */